$text-color : white;
$headset-color: lightgreen;
$price-color: blue;
$inactive-color: darkgray;

$btn-bgcolor: #E6B17E;
$btn-border-color: lightgray;

$btn-bgcolor-hover: #C56E33;
$btn-color-hover: white;

$support-color: lightgray;


